* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
header {
    background: rgb(2,0,36);
    background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(9,121,69,1) 35%, rgba(0,255,247,1) 100%);
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header .titulo h1 {
    color: white;
    font-size: 4.5rem;
}
header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    list-style: none;
}
header .nav li {
    height: 4vh;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.2rem;
}
main .introduccion {
    display: flex;
    justify-content: space-between;
}
main section picture .logo {
    width: 12rem;
    height: 15rem;
}
main section div {
    width: 19rem;
    height: 15rem;
    margin-right: 3rem;
}
main section div .introduccion-descrip {
    font-size: 1.2rem;
}