* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'KoHo', sans-serif;
    width: 100vw;
}
a {
    text-decoration: none;
    color: black;
}
header {
    background: rgb(2,0,36);
    background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(121,9,119,1) 41%, rgba(0,255,16,1) 100%);
    width: 100vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .header--title h1 {
    color: white;
    font-size: 3.5rem;
    width: 100vw;
    height: 10rem;
    margin-top: 3rem;
    padding: 3rem;
    text-align: center;
    align-self: center;
}
header .header--nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    list-style: none;
    max-width: 45rem;
    height: 5rem;
}
header .header--nav li {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.2rem;
}
header .header--nav li a {
    color: white;
}
header .header--nav li a:hover {
    color: orange;
}
main {
    width: 100vw;
}
main .main--intro {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main .main--intro .main--intro-pic {
    width: 20rem;
    height: 24rem;
    padding: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(30, 77, 89, 0.16);
}
main .main--intro div {
    margin-right: 3rem;
    align-items: center;
}
main .main--intro div .main--intro-text {
    max-width: 40rem;
    font-size: 1.6rem;
    font-style: italic;
    padding: 2rem;
}
main .main--studies {
    width: 100vw;
    height: auto;
    background-color: rgb(54, 53, 53);
    color: white;
    display: flex;
    flex-direction: column;
}
main .main--studies h2 {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 2rem;
}
main .main--studies ul {
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}
main .main--studies ul li {
    margin: 1rem;
    font-size: 1.6rem;
    align-self: center;
}
main .main--studies ul li a {
    color: greenyellow;
}
.main--photo-proyect {
    width: 100vw;
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(121,9,119,1) 41%, rgba(0,255,16,1) 100%);
}
.main--photo-proyect div {
    padding: 2rem;
}
.main--photo-proyect div h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}
.main--photo-proyect .photo-proyect--slides {
    width: 100vw;
    height: 31.6rem;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main--photo-proyect .photo-proyect--slides article {
    scroll-snap-align: center;
    width: auto;
    height: auto;
    min-height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0 0.5rem;
    align-self: center;
    box-shadow: 0 1.2rem 1.8rem rgba(0, 0, 0, 0.336);
}
.main--photo-proyect .photo-proyect--slides article picture img {
    width: 23rem;
    height: 12.9rem;
    margin-bottom: 1rem;
}
.main--photo-proyect .photo-proyect--slides article picture .third-picture {
    width: 23rem;
    height: 14.8rem;
}
.main--photo-proyect .photo-proyect--slides article picture .forth-picture {
    width: 23rem;
    height: 15.3rem;
}
.main--photo-proyect .photo-proyect--slides article picture .fifth-picture {
    width: 23rem;
    height: 17.3rem;
}
.main--photo-proyect .photo-proyect--slides article picture .sixth-picture {
    width: 23rem;
    height: 17.3rem;
}
.main--photo-proyect .photo-proyect--slides article p {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}
footer {
    width: 100vw;
    height: 16rem;
}
footer .footer--footer {
    display: flex;
    flex-direction: column;
}
footer p {
    font-size: 1.6rem;
    font-style: italic;
    text-align: center;
    margin: 2rem 0;
}
footer a {
width: 15rem;
font-size: 1.8rem;
font-weight: bold;
text-align: center;
align-self: center;
margin: 2rem 0;
box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.72);
}